/* styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Sección de héroe */
.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    padding: 1em;
    border-radius: 8px;
}

/* Contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
}

/* Servicios */
.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service {
    flex: 1;
    margin: 1em;
    text-align: center;
}

.service img {
    width: 100%;
    height: auto;
}

/* Sección sobre nosotros */
#about img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

/* Información del equipo */
.team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team-member {
    text-align: center;
    margin: 1em;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Sección de contacto */
#contact p {
    margin: 0.5em 0;
}

/* Pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

footer p {
    margin: 0;
}

